.idea
dist
*.egg-info
demo/data
venv
.venv
outputs
build
.ruff_cache
.pytest_cache

**/__pycache__/**
docs/api/build
node_modules
src/cracknuts/jupyter/static/*
.ipynb_checkpoints
dataset
.virtual_documents